<div class='container'>
  <div class="row">
    
    <div class="items">      
        <div class="item" ng-repeat='item in data.items'>

          <div class="font-bold">{{ item.userName }}</div>
          <div>{{ item.message }}</div>
        
        </div>
    </div>

    <div class="compose-button" ng-click="showSubmitForm()" ng-hide='commenting'></div>      
  </div>

  <form name='commentForm' ng-submit="submitComment()" ng-show='commenting'>
        
    <textarea class="form-control" id='message' ng-model="data.message" rows=6 placeholder="what do you want to say?" required></textarea>

    <button type="submit" value="Submit" class='btn btn-primary'>Post</button>

  </form>
</div>