<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" id='message' ng-model="message" rows=6 placeholder="what do you want to say?"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close('post')" class="btn btn-primary" data-dismiss="modal">Post</button>
      </div>
    </div>
  </div>
</div>