<div id='signin' class="container form center">
  <h1 class="white">Triangle</h1>
  <p class="white">Chat with interesting people in your city</p>
  <div class='clearfix'>
    <div class="alert alert-danger" ng-model="error" ng-hide="error === ''">
      {{error}}
    </div>
    <div class="alert alert-info" ng-model="info" ng-hide="info === ''">
      {{info}}
    </div>
    <form name="signinForm" ng-submit='login()'>
      <div class="form-group">
        <input type="email" placeholder="Email" class="form-control" ng-model='user.email' required>
        <input type="password" placeholder="Password" class="form-control" ng-model='user.password' required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg pull-right">SIGN IN</button>
    </form>
  </div>
  <p><a href="/#register">Create an account</a></p>
</div>