<div id='signup' class="container form center" ng-init="initValidators()">
  <h1 class="white">Create an Account</h1>
  
  <div class="clearfix">
    <div class="alert alert-danger" ng-model="error" ng-hide="error === ''">
      {{error}}
    </div>

    <div class="alert alert-info" ng-model="info" ng-hide="info === ''">
      {{info}}
    </div>
    <form name="signupForm" ng-submit='register()'> 
      <div class="form-group">
        <input class="form-control" placeholder="Email" type='email' ng-model='user.email' required>
        <input class="form-control" placeholder="Password" id="password" type="password" ng-model='user.password' required>
        <input class="form-control" placeholder="Confirm Password" type="password" ng-model='user.confirmPassword' id="confirmPassword" required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg pull-right">REGISTER</button>
    </form>
  </div>
  <p>
    <a href="#/login">Already have an account? Login Here</a>
  </p>
</div>